.modal{
    width: 500px;
    height: 700px;
    background-color: rgb(224, 18, 180);
    /* se não tiver esse posicionamento que referenciar o pai o posicionamento filho não funciona  */
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -250px;
}
.modal img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 32px;
    right: 5px;
}